<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- If your World Clock module uses Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <!-- World Clock Activity (launch from NYTimes app) -->
        <activity
            android:name="com.example.worldclockapp.MainActivity"
            android:exported="true"
            android:label="World Clock"
            />

    </application>

</manifest>
